# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*.env
.devs.vars

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sublime-workspace
*.sublime-project
*.idea/workspace.xml
*.iml
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
ehthumbs.db
temp*
*.tmp
*.bak
*.cache
*.vs
nginx/nginx_proxy_manager_cli.conf
